<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <!-- NEW: Attendance Tab Button -->
    <ion-tab-button tab="attendance" href="/tabs/attendance">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="directory" href="/tabs/directory">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Directory</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>